USE [PRD_QPREP_UBPD]
GO
/****** Object:  StoredProcedure [dbo].[CONSULTA_UARIV_EXCLUYENDO_DESPLA_FORZA]    Script Date: 25/11/2023 7:42:36 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Juan Manuel Maestre Jimenez
-- Description:	Realiza la consulta de UARIV donde excluye desplazamient forzado
-- =============================================
ALTER PROCEDURE [dbo].[CONSULTA_UARIV_EXCLUYENDO_DESPLA_FORZA]
WITH RECOMPILE 
AS
BEGIN
  SET NOCOUNT ON;

  DROP TABLE IF EXISTS [PRD_QPREP_UBPD].[dbo].[UARIV_UNI_VIC_LB_]
  SELECT [VILB_ORIGEN]
      ,[VILB_FUENTE]
      ,[VILB_PROGRAMA]
      ,[VILB_IDPERSONA]
      ,[VILB_IDHOGAR]
      ,[VILB_TIPODOCUMENTO]
      ,[VILB_DOCUMENTO]
      ,[VILB_PRIMERNOMBRE]
      ,[VILB_SEGUNDONOMBRE]
      ,[VILB_PRIMERAPELLIDO]
      ,[VILB_SEGUNDOAPELLIDO]
      ,[VILB_FECHANACIMIENTO]
      ,[VILB_EXPEDICIONDOCUMENTO]
      ,[VILB_FECHAEXPEDICIONDOCUMENTO]
      ,[VILB_PERTENENCIAETNICA]
      ,[VILB_GENERO]
      ,[VILB_TIPOHECHO]
      ,[VILB_HECHO]
      ,[VILB_FECHAOCURRENCIA]
      ,[VILB_CODDANEMUNICIPIOOCURRENCIA]
      ,[VILB_ZONAOCURRENCIA]
      ,[VILB_UBICACIONOCURRENCIA]
      ,[VILB_PRESUNTOACTOR]
      ,[VILB_PRESUNTOVICTIMIZANTE]
      ,[VILB_FECHAREPORTE]
      ,[VILB_TIPOPOBLACION]
      ,[VILB_TIPOVICTIMA]
      ,[VILB_PAIS]
      ,[VILB_CIUDAD]
      ,[VILB_CODDANEMUNICIPIORESIDENCIA]
      ,[VILB_ZONARESIDENCIA]
      ,[VILB_UBICACIONRESIDENCIA]
      ,[VILB_DIRECCION]
      ,[VILB_NUMTELEFONOFIJO]
      ,[VILB_NUMTELEFONOCELULAR]
      ,[VILB_EMAIL]
      ,[VILB_FECHAVALORACION]
      ,[VILB_ESTADOVICTIMA]
      ,[VILB_NOMBRECOMPLETO]
      ,[VILB_IDSINIESTRO]
      ,[VILB_IDMIJEFE]
      ,[VILB_TIPODESPLAZAMIENTO]
      ,[VILB_REGISTRADURIA]
      ,[VILB_VIGENCIADOCUMENTO]
      ,[VILB_CONSPERSONA]
      ,[VILB_RELACION]
      ,[VILB_CODDANEDECLARACION]
      ,[VILB_CODDANELLEGADA]
      ,[VILB_CODIGOHECHO]
      ,[VILB_DISCAPACIDAD]
      ,[VILB_DESCRIPCIONDISCAPACIDAD]
      ,[VILB_ID_EJECUCION]
      ,[VILB_CHECK]
      INTO [PRD_QPREP_UBPD].[dbo].[UARIV_UNI_VIC_LB_]
	  FROM [PRD_QPREP_UBPD].[dbo].[UARIV_UNI_VIC_LB]
      WHERE VILB_HECHO != 'DESPLAZAMIENTO FORZADO'   
	  
  END
